body {
    margin: 0;
    background: #1B244A;
    text-align: center;
}

h3 {
    color: #fff;
    font-size: 40px;
}

button {
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 20px;
    padding: 15px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 4px;    
}

.container {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#score-home, #score-guest {
    color: #F94F6D;
    background: #000;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 90px;
    border-radius: 10px;
    padding: 30px;
    margin: 40px auto;
}